.search-box {
    border: none;
    outline: none;
    padding: 10px;
    width: 150px;
    line-height: 30px;
    margin-bottom: 30px;
    
    font-family: 'Fira Sans', sans-serif;
    font-size: large;
}